* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "courierprime";
    src: url(../assets/fonts/courierprime/CourierPrime-Regular.ttf);
}

#startbody {
    width: 100vw;
    height: 100vh;
    font-family: 'courierprime';
    font-size: 18px;
    color: red;
    background-color: white;
}

/* HEADER */
header {
    background-color: black;
    border-bottom: 7px solid red;
    color: white;
}

h1 {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0;
    margin: 0;
}

ul {
    justify-content: space-evenly;
}
ul li a {
    display: inline-block;
    width: 10rem;
    height: 3rem;
    border: 4px solid darkred ;
    background-color:red;
    color: black;
}

ul li :hover {
    color: black;
    animation-name: anim_buttons;
    animation-duration: .60s;
    animation-iteration-count: infinite;
}


@keyframes anim_buttons {
    0% {
        background-color: blue;
    }
    25% {
        background-color: blueviolet;
    }
    50% {
        background-color: greenyellow;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: aquamarine;
    }
}

/* MAIN */

main {
    grid-area: main;
    background-image: url(../assets/images/673176AA.jpg);
    background-size: cover;
}

/* FOOTER */

footer {
        background-color: black;
        border-top: 7px solid red;
        height: 4rem;
}

h1 {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0;
    margin: 0;
}